<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>VaiVaat || Purchase bill</title>
  </head>
  <body>
  <div class="container marketing">

      <div class="row featurette">
          <ul class="nav justify-content-end">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Vocal Command</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Manual Command</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="{% url 'less' %}">Less Stock</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="{% url 'daily' %}">Track Daily</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'purchase_bill' %}">Purchase Bill</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'sales' %}">Sales Report</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'report' %}">Report</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'pay_credit' %}">Credit</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'view-credit' %}">Admin Credit</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'setting' %}">Setting</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
              </li>
          </ul>

          <h1 class="featurette-heading">Debt List<span class="text-muted"></span></h1>
          <hr class="featurette-divider" />
          <br />
          <br />
          <br />
          <br />

          <div class="container">
              <form class="row g-3" method="POST" action="/view-credit">
                  {% csrf_token %}
                  <label  class="form-label"  for="datalistOptions">Select Supplier Name</label>
                  <select class="form-control" id="datalistOptions" required name="dslist">
                      {% for i,j in r  %}
                      <option value="{{i}}">{{i}}</option>
                      {% endfor %}
                  </select>
                  <input type="submit" id="submit" value="View creditor Details">
              </form>

          </div>
          <br><br>
          <div class="container">
              <div class="container">
                  <table  class="table table-success table-striped" id="tbl1">
                      <thead>
                      <tr>
                          <th colspan="8" style="text-align:center;">ID</th>
                          <th colspan="8" style="text-align:center;" >Supplier Name</th>
                          <th colspan="8" style="text-align:center;" >Bill Amount </th>
                          <th colspan="8" style="text-align:center;" >Paid Amount</th>
                          <th colspan="8" style="text-align:center;" >Pending Amount</th>
                          <th colspan="8" style="text-align:center;" >Date</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for a,b,c,d,e,f in rs %}
                      <tr>
                          <td colspan="8" style="text-align:center;">{{ a }}</td>
                          <td colspan="8" style="text-align:center;">{{ b }}</td>
                          <td colspan="8" style="text-align:center;">{{ c }}</td>
                          <td colspan="8" style="text-align:center;">{{ d }}</td>
                          <td colspan="8" style="text-align:center;">{{ e }}</td>
                          <td colspan="8" style="text-align:center;">{{ f }}</td>



                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>


              </div>
              <hr class="featurette-divider">
              <div class="container marketing">
              <div  class="row featurette">
                  <form class="row g-3" method="POST" action="/paytm2">
                      {% csrf_token %}
                   <label class="form-label">Supplier name</label>
                  <input type="text" required readonly id="no" class="form-control" placeholder="Enter number" value="{{ name }}" name="name">
                 <label class="form-label">Total Balance Amount to be paid</label>
                  <input type="text" required readonly  class="form-control" placeholder="Total Amount to be paid" id="t1" value="{{ tot }}" name="total">
                   <label class="form-label">Amount already paid</label>
                  <input type="text" required readonly  class="form-control" placeholder="Amount already paid" value="{{ all }}"  id="t4" name="already_paid">
                      <label class="form-label">Amount yet to give</label>
                  <input type="text" required readonly  class="form-control" placeholder="Amount yet to pay" id="t6" value="{{ yet }}">
                      <label class="form-label">Amount paying now</label>
                  <input type="text" required  class="form-control" placeholder="Amount paying now" onchange="find()" id="t2" name="paying">
                   <label class="form-label">Balance amount to pending</label>
                  <input type="text" required readonly  class="form-control" placeholder="Balance amount to pending" id="t3" name="balance">

                <input type="submit" id="b1" style="visibility:hidden;" value="Pay to credit">
                      <br/><br />
                  </form>
              </div>
              </div>
          </div>


      </div>
  </div>

<script>
    function find()
    {
        var a=document.getElementById("t1").value;
        var b=document.getElementById("t2").value;
        var c=document.getElementById("t4").value;
        var d=document.getElementById("t6").value;
        a=parseFloat(a);
        b=parseFloat(b);
        c=parseFloat(c);
         d=parseFloat(d);
        if(a<b || d<b)
        {
        alert("Paying amount is greater than actual amount to be paid..Please check the amount");
        }
        else
        {
          document.getElementById("t3").value=d-b;
         document.getElementById("b1").style.visibility="visible";
        }

    }


</script>


  <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>